CMakeLists.txt.user*
Makefile
CMake/common/
___*
build/
build-debug/
/Collage/
/Deflect/
/Equalizer/
/FlatBuffers/
/GLStats/
/Lunchbox/
/Pression/
/RESTBridge/
/Servus/
/Tuvok/
/ZeroBuf/
/cppnetlib/
/dash/
/hwsd/
/vmmlib/
/zeq/
